// font
$bebas: "Bebas Neue", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;

// width
$w-layout-mb: 480px;
$w-layout-tb: 768px;
$w-layout-dt: 1920px;
$w-site-wrapper-mb: 320px;
$w-site-wrapper-tb: 660px;
$w-site-wrapper-dt: 1140px;

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
